<div>
    <h2> NG Class tutorial</h2>
    <!-- <div [ngClass]="['primary', 'font-style']">Primary Div</div> -->
     <!-- <div [ngClass]="'primary font-style'">Primary Div</div> -->
     <!-- <div [ngClass]="{primary:true, fontStyle:true}">Primary Div</div> -->

    <!-- <div [ngClass]="obj">Primary Div</div> -->
     <div [ngClass]="ob">Primary Div</div> 

    

    <button (click)="togglePrimary()"> Toggle Primary</button>
    <button (click)="toogleFontStyle()">Toggle Font Style</button>
      

</div>